.paginationcontaineronCreateshipping{
    margin-left: 20%;
    border: 2px solid red;
    }
    
    .CenclebuttonOnCreateShipping{
        border: 2px solid red;
    }
    .continuebuttonOnCreateShipping{
        border: 2px solid red;
    
    }
  