.signuponloginonreset{
    position: relative;
    left: 121%;
    width: 26%;
    bottom: 19rem;
    background-color: white !important;
    color: #13A74B !important;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.resetpasswordheader{
    margin: 5%;
    color: #13A74B;
    font-family: 'Poppins', sans-serif;
}